body{
    background-color: rgb(0, 0, 0);
    color: rgb(246, 243, 243);
    font-family: sans-serif;
    align-items: center;
    text-align: center;
}
.top-bar{
    background-color: #00d9ff;
    padding: 15px 40px;
    border: 2px solid;
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    margin-top: 10px;

}
.logo{
    color: rgb(19, 17, 17);
    font-size: 30px;
    font-weight: bold;
    color: black;
}
nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}
nav ul li a:hover {
    text-transform: none;
    background-color: black;
    color: white;
    font-size: 18px;
    padding: 6px 12px;
    border-radius: 8px;
    transition: 0.3s;
    transform: scale(1.1);
}
nav ul li a {
    background-color:#00d9ff;
    color: rgb(255, 255, 255);
    font-size: 24px;
    border: 1px solid black;
}
header a {
    background-color: rgb(9, 9, 9);
    color: white;
    padding: 8px 15px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 24px;
    transition: 0.3s;
}
header a:hover {
    background-color: blue ;
}

.hero-section {

  background-color: #000; 
  color: white;

}
.text-content{
    align-items: right;
    max-width: 600px;
    display: flex;
    padding: 50px;
    height: 100vh;
}
.hero-section h1 {
    font-size: 36px;
        align-items: left;
}
.text-content {

  max-width: 600px;
      align-items: left;
  display: inline;
}

.text-content h1 span {
  color: #00ffff;
}
.text-content p , .text-content h2 {
    margin-top: 10px;
}

.text-content button {
  margin: 10px 0;
  padding: 10px 20px;
  background-color: #00ffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.text-content .bio {
      margin-top: 20px;
      font-size: 20px;
}

.Profile-image {

    border-radius: 50% ;
    top: 30px;
    padding: 10px;
    text-align: right;
    
}
.profile-image img {
  width: 200px;
  border-radius: 10px;
  height: auto;
  text-align: right;
  top: 20px;
}
.main-section{
    padding: 60px 20px;
}
.main-section h1 {
    font-size: 48px;
    margin-bottom: 10px;
    top: 20px;
}
.main-section p {
    font-size: 18px;
    color: yellow;
    margin-bottom: 30px;
}

.top-section {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    font-size: 20px;
    height: auto;
}
.top-section a {
    color: white;
}

.example-box {
  background-color: #fce9e8;
  color: black;
  font-size: 16px;
  padding: 20px;
  width: 90%;
  max-width: 600px;
  margin: auto;
  margin-top: 20px;
  border-radius: 10px;
  display: flex;
  display: inline-block;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  text-align: left;
  justify-content: center;
  font-family: monospace;
    border-left: 5px solid#04aa6d;
}
.example-box pre {
    background-color: #fff;
    padding: 10px;
    overflow-x: auto;
}
.html-body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: linear-gradient(to bottom, #1e2a38 0%,  #e7f3f8 30%, #ffecc7 100%);
}
.container {
    display: flex;
    justify-content: center;
    align-items: self-start;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    background-color: #c5e5f2;
    font-family: Arial, Helvetica, sans-serif;
}
.container2 {
    display: flex;
    justify-content: center;
    align-items: self-start;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    background-color: #d2d177;
    font-family: Arial, Helvetica, sans-serif;
}

.bottom-section {
    max-width: 300px;
    text-align: center;
    padding: 20px;
    justify-content: center;
}
.bottom-section h1 {
    font-size: 80px;
    color: #1e2a38;
    margin-bottom: 10px;
}
.bottom-section p {
    margin-bottom: 20px;
    font-size: 16px;
    color: #333;
}
.btn {
    display: block;
    width: 200px;
    padding: 12px;
    margin: 10px auto;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border: none;
}
button:hover {
    color: #000000;
    font-size: 20px;
}

.green {
    background-color: #2e8b57;
    color: white;
        padding: 10px 30px;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
}
.light-blue {
    background-color: #c524f6;
    color: black;
        padding: 10px 30px;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
}
.dark {
    background-color: #2b2b45;
    color: white;
        padding: 10px 30px;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
}
.pink {
    background-color: #f7a7c0;
    color: black;
    padding: 10px 30px;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
}
.right {
    background-color: #f9f9f9;
    padding: 20px;
    background: linear-gradient(to right, #add8e6,#f5dce0 );
    justify-content: center;
    align-items: center;
    margin: 0;
    border-radius: 10px;
    width: 300px;
    font-family: monospace;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.right h3 {
    font-size: 25px;
    margin-bottom: 10px;
    color: black;
    display: flex;
}
.code-box {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: monospace;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.btn-green {
    background-color: #2e8b57;
    color: white;
    padding: 10px 30px;
    border: none;
    margin-top: 20px;
    border-radius: 25px;
    font-size: 19px;
    cursor: pointer;
    display: flex;
}